DirectoryIndex index.cgi
Options +ExecCGI -Indexes

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [QSA,L]

ExpiresActive On
ExpiresDefault "access plus 1 second"

<filesMatch "\.(html|htm|js|css|cgi|php|asp|aspx)$">
	FileETag None
	<ifModule mod_headers.c>
		Header unset ETag
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Pragma "no-cache"
		Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
	</ifModule>
</filesMatch>

<Files .htaccess>
	order allow,deny
	deny from all
</Files>
